In [1]:
import os

In [2]:
import pymysql

In [3]:
db = pymysql.connect("162.105.16.32","root","root","sotorrent20_03" )

In [4]:
cursor = db.cursor()

In [5]:
sql = "select `Id`, `Body` from `Posts` where `Body` like '%<code><pre>%' limit 3"

In [6]:
try:
   cursor.execute(sql)
   # 获取所有记录列表
   results = cursor.fetchall()
   for row in results:
        print(row[1])
except:
    print ("Error: unable to fetch data")

<p>In C, C++ and Java, the statement:&#xA;<code><pre>&#xA;if (condition1 | condition2) {&#xA;  ...&#xA;}&#xA;</code></pre></p>&#xA;&#xA;<p>will evaluate both conditions every time and only be true if the entire expression is true. </p>&#xA;&#xA;<p>The statement:</p>&#xA;&#xA;<p><pre><code>&#xA;if (condition1 || condition2) {&#xA;  ...&#xA;}&#xA;</pre></code></p>&#xA;&#xA;<p>will evaluate <code>condition2</code> only if <code>condition1</code> is false. The difference is significant if condition2 is a function or another expression with a side-effect. </p>&#xA;&#xA;<p>There is, however, no difference between the <code>||</code> case and the <code>if</code>/<code>else</code> case.</p>&#xA;
<p><code><pre>&#xA;ALTER TABLE table ADD COLUMN tmp;&#xA;UPDATE table SET tmp = X;&#xA;UPDATE table SET X = Y;&#xA;UPDATE table SET Y = tmp;&#xA;ALTER TABLE table DROP COLUMN tmp;&#xA;</code></pre>&#xA;Something like this?</p>&#xA;&#xA;<p>Edit: About Greg's comment:&#xA;No, this doesn't work:</p>&#xA;&#xA;<p><code><pre>&#xA;mysql> select * from test;&#xA;+------+------+&#xA;| x    | y    |&#xA;+------+------+&#xA;|    1 |    2 |&#xA;|    3 |    4 |&#xA;+------+------+&#xA;2 rows in set (0.00 sec)</p>&#xA;&#xA;<p>mysql> update test set x=y, y=x;&#xA;Query OK, 2 rows affected (0.00 sec)&#xA;Rows matched: 2  Changed: 2  Warnings: 0</p>&#xA;&#xA;<p>mysql> select * from test;&#xA;+------+------+&#xA;| x    | y    |&#xA;+------+------+&#xA;|    2 |    2 |&#xA;|    4 |    4 |&#xA;+------+------+&#xA;2 rows in set (0.00 sec)&#xA;</code></pre></p>&#xA;
<p>Another C++ one. Optimized for speed and size.</p>&#xA;&#xA;<p><code><pre>bool is_palindrome(const std::string&amp; candidate) {&#xA;    for(std::string::const_iterator left = candidate.begin(), right = candidate.end(); left &lt; --right ; ++left)&#xA;        if (*left != *right)&#xA;            return false;&#xA;    return true;&#xA;}</pre></code></p>&#xA;

In [11]:
sql2 = "select COUNT(*) from `Posts` where `Body` like '%CountDownLatch%'"

In [12]:
try:
   cursor.execute(sql2)
   # 获取所有记录列表
   results = cursor.fetchall()
   for row in results:
        print(row, row[0])
except:
    print ("Error: unable to fetch data")

(3674,) 3674

In [13]:
sql3 = "create view javaPosts as select `Id`, `Body` from `Posts` where `Tags` like '<java>'"

In [14]:
cursor.execute(sql3)

0